* {
    top: 0;
    left: 0;
    right: 0;
}

body {
    min-height: 100vh;
    background: url(/images/background-1877877_1920.jpg) no-repeat center center;
}
.navbar {
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }

  .navbar-brand img {
    height: 40px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    color: rgb(91, 172, 67);
    transition: left 0.3s;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .sidebar a {
    color: rgb(91, 172, 67);
    text-decoration: none;
    margin: 15px 0;
  }
  .sidebar.show {
    left: 0;
  }
.hero {
    height: calc(100vh-100px);
    position: relative;
    background: url() no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .hero-content {
    position: relative;
    z-index: 2;
  }
  .text-section {
    padding: 40px 20px;
    background-color: #f8f9fa;
  }
   /* Wrapper-Klasse */
   .content-wrapper {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 85vw;
    height: auto;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

/* Zusätzlicher Abstand für Abschnitte */
.content-wrapper > *:not(:last-child) {
    margin-bottom: 20px;
  }
/* Formular Kleiderspenden-Registrierung */
#spendenForm h2 {
    text-align: center;
    margin-bottom: 5vh;
    font-weight: 600;
} 

.form-label {
    font-weight: 600;
}


.hidden {
    display: none;
}

/* Footer mit Website-Links und Copyright */
.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    text-align: center;
  }
  
  .footer-links a {
    text-decoration: none;
    padding: 0 10px;
  }

  .footer-links a:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 1.2em;
    background-color: #ccc;
    margin-left: 20px;
  }
  .footer-divider {
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid #ddd;
  }
  .footer-copyright {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
  }

.btn {
    background: linear-gradient(45deg, #1D976C, #93F9B9);
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

/* Standardgröße (Mobile first) */
body {
    font-size: 16px;
  }
  
  /* Tablets (Portrait) */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
    .content-wrapper {
        width: 85vw;
    }
  }
  
  /* Tablets (Landscape) */
  @media (min-width: 768px) {
    body {
      font-size: 20px;
    }
    .content-wrapper {
        width: 85vw;
    }
  }
  
  /* Laptops */
  @media (min-width: 1024px) {
    body {
      font-size: 22px;
    }
    
    .anrede {
        max-width: 50%;
    }
  }
  
  /* Desktops */
  @media (min-width: 1280px) {
    body {
      font-size: 24px;
    }
    .anrede {
        max-width: 40%;
    }
  }
  
  /* Große Desktops */
  @media (min-width: 1600px) {
    body {
      font-size: 26px;
    }
    .anrede {
        max-width: 30%;
    }
  }
  
